.footer{
    text-align: center;
    position: fixed;
    bottom: 0;right: 0;left: 0;
    background-color: var(--pink-8);
    padding: .5rem;
    font-size: 1rem;
    z-index: 1000;

    .content{
        color: var(--pink-1);
    }
}